html, body, #container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
}


#map {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
}

.navbar-form {
  margin-left: 3px;
  margin-right: 3px;
}

.navbar-collapse .collapse .in {
  opacity: .8;
}
